/* -------------------------STORE FEATURED------------------------- */
:root {
  /* Main Backgrounds Colors */
  --background: #1e1e1f;
  --scrollbar: #6624e2;
  --header: #3e3e3f;
  --border1: 10px;
  --text: #ffffff;
}

/* Scrollbar */
body::-webkit-scrollbar-thumb {
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  background-color: var(--scrollbar) !important;
  border: 5px solid var(--darkgrey) !important;
  border-radius: var(--border1) !important;
  width: 25px !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background: var(--darkgrey) !important;
}

body::-webkit-scrollbar {
  background-clip: padding-box !important;
  border: 5px solid transparent !important;
  background-color: transparent !important;
}

.DialogBody::-webkit-scrollbar {
  display: none !important;
  border: 5px solid transparent !important;
}

/* Resolution Fix */
@media only screen and (min-width: 3000px) {
  .responsive_page_content {-webkit-transform: scale(2) !important;-webkit-transform-origin: 50% 0% 0 !important;}
  .modal_frame {width: 66% !important;height: 80% !important;}
  #footer {display: none !important;}
}
@media only screen and (min-width: 3400px){
  .responsive_page_content {-webkit-transform: scale(1) !important;-webkit-transform-origin: 50% 0% 0 !important;}
  .modal_frame {width: 66% !important;height: 80% !important;}
  #footer {display: none !important;}
}
@media only screen and (min-width: 4000px){
  .responsive_page_content {-webkit-transform: scale(2) !important;-webkit-transform-origin: 50% 0% 0 !important;}
  .modal_frame {width: 66% !important;height: 80% !important;}
  #footer {display: none !important;}
}

/* Main Backgrounds */
html {
  /* Background */
  background: var(--background) !important;
}

body {
  /* Background */
  background: var(--background) !important;
}

body.v6 {
  /* Background */
  background: var(--background) !important;
}

.home_page_body_ctn {
  /* Background */
  background: var(--background) !important;
}

#MessageContent {
  /* Background */
  background: var(--background) !important;
}

div.profile_page.has_profile_background {
  /* Background */
  background-color: var(--background) !important;
}

body.profile_page #footer {
  /* Background */
  background: var(--background) !important;
}

.labs_cluster {
  /* Background */
  background: var(--background) !important;
}

.home_ctn.discovery_queue_ctn {
  /* Background */
  background-color: var(--background) !important;
}

.home_ctn.apps_recommended_by_curators_ctn {
  /* Background */
  background: var(--background) !important;
}

.home_ctn.tab_container {
  /* Background */
  background: var(--background) !important;
}

/* Header */
div.store_header_btn {
  /* Header wishlist buttons */
  border-radius: 10px !important;
  margin-left: 10px !important;

  &:hover {
    border-radius: 10px !important;
    margin-left: 10px !important;
  }
}

body.v6 .store_nav .popup_block_new .popup_body, body.v6 #footer_nav .popup_block_new .popup_body {
  background: #121212 !important;
}

.store_nav .popup_menu .popup_menu_item, .creator .responsive_page_template_content .popup_menu .popup_menu_item, .curator .responsive_page_template_content .popup_menu .popup_menu_item, .footer_content .popup_menu .popup_menu_item, .search_area .popup_body .match, .search_area .popup_body .match .match_name {
  color: var(--text) !important;
}

.popup_menu .popup_menu_item {
  border-radius: 10px !important;

  &:hover {
    background: #6624e2 !important;
  }
}

a.store_header_btn_content {
  /* Header wishlist buttons */
  border-radius: 10px !important;
}

#store_nav_area .store_nav_bg, .home_page_body_ctn.has_takeover #store_nav_area .store_nav_bg {
  /* Header */
  background: var(--header) !important;
  border-radius: 20px !important;
}

.store_nav .tab:hover > span,
.store_nav .tab:hover,
.store_nav .tab.focus > span,
.store_nav .tab.focus {
  /* Header Hover */
  background: #4e4e4f !important;
  border-radius: 20px !important;
  color: var(--text) !important;
}

.store_nav .tab {
  /* Remove Header Lines */
  border-right: 0px !important;
}

.searchbox {
  /* Searchbox Hover */
  background-color: #1e1e1f !important;
  border-radius: 20px !important;
  border: 1px solid #1e1e1f !important;
  
  &:hover {
    border: 1px solid #1e1e1f !important;
  }
}

.searchbox input.default {
  /* Searchbox Search Placeholder */
  display: none !important;
}

a#store_search_link img {
  /* Hides Search Icon */
  display: none !important;
}

/* Store Featured and Recommended */
.store_main_capsule, .store_main_capsule:hover {
  background-image: none !important;
  background: #121212 !important;
  border-radius: 10px !important;
}

.store_main_capsule .capsule {
  border-radius: 10px !important;
}

.carousel_container.maincap .capsule .screenshot {
  border-radius: 10px !important;
}

.store_main_capsule .screenshots > div > div {
  border-radius: 10px !important;
}

.home_category_games_ctn {
  background: none !important;
}

.carousel_container .arrow {
  /* Arrows Background */
  background: transparent !important;
}

.carousel_container .arrow.left, .carousel_container .arrow.right {
   /* All Arrows */
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }
}

.carousel_container .carousel_thumbs > div {
  /* Gamepage Dots */
  width: 20px !important;
  height: 20px !important;
  border-radius: 20px !important;
  background-color: #121212 !important;

  &:hover {
    background-color: var(--scrollbar) !important;
  }

  &.focus {
    background-color: var(--scrollbar) !important;
  }
}

body.v6.infinite_scrolling #footer.small_footer {
  /* Small Footer */
  background: #1e1e1f !important;
}

body.v6 .page_content_ctn.dark {
  background: #1e1e1f !important;
}

.sale_capsule .discount_block_inline .discount_prices {
  background: transparent !important;
}

body.v6 .discount_block {
  background: transparent !important;
}

body.v6 .discount_pct {
  border-radius: 10px !important;
}

.discount_block > .discount_prices {
  background-color: transparent !important;
}

.home_content.single {
  background: #151515 !important;
  border-radius: 10px !important;
}

/* Special Offers */
.home_area_spotlight {
  /* Removes Image from Background */
  background-image: none !important;
}

.spotlight_img {
  /* Image */
  border-radius: 10px !important;
}

.spotlight_content {
  /* Price Background */
  border-radius: 10px !important;
  background-image: none !important;
  background: #121212 !important;
}

.carousel_container.spotlight .carousel_items > * .store_capsule {
   /* Removes Image from Background */
  background-image: none !important;

  &:hover {
    background: #121212 !important;
  }
}

.store_capsule .capsule > img {
  /* Image */
  border-radius: 10px !important;
}

.store_capsule {
  /* Price Background */
  background: #121212 !important;
  border-radius: 10px !important;
}



/* THE COMMUNITY RECOMMENDS */

/* These Games Today */
.community_recommendation_app > .right_col {
  /* Right Text Column Background */
  background: #121212 !important;
  border-radius: 10px !important;
}

.community_recommendation_app > .community_recommendation_capsule > .capsule > img,
.community_recommendation_app .microtrailer_video {
  /* Rounds the Image & Video */
  border-radius: 10px !important;
}

/* Your Discovery Queue */
.community_recommendation_app .reviewed_app_small_image {
  /* Hide small Game Image */
  display: none !important;
}

.discovery_queue_ctn .begin_exploring {
  /* Hide Discovery Text */
  display: none !important;
}

.dq_item, .dq_item div, .dq_item img {
  /* Rounds the Images */
  border-radius: 10px !important;
}

.valveindex_banner {
  /* Valve Index Banner */
  display: flex !important;
  border-radius: 10px !important;
}

.big_button {
  /* Browse Steam Buttons */
  background-image: none !important;
  background: var(--scrollbar) !important;
  color: var(--white) !important;
  border-radius: 10px !important;
}

.store_capsule_frame {
  /* Curator Recommendation Background */
  background: transparent !important;
}

.curator_giant_capsule {
  /* Curator Recommendation Image */
  border-radius: 10px !important;
}

.curator_giant_capsule .curator_block {
  /* Curator Recommendation Group */
  background-color: #12121290 !important;
  backdrop-filter: blur(20px) !important;
  border-radius: 10px !important;
}

.curator_giant_capsule .curator_block img {
  /* Curator Recommendation Group Image */
  border-radius: 10px !important;
}

/* FROM DEVELOPERS AND PUBLISHERS THAT YOU KNOW */
.recommended_creators_ctn .recommended_creators_container {
  /* groups sections */
  background: #121212 !important;
  border-radius: 10px !important;
}

/* Tab Items */
.tab_item {
  /* Tab Item Background */
  background: #121212 !important;
  border-radius: 10px !important;
}

.tab_item.focus {
  /* Tab Item Size Fix */
  background: var(--scrollbar) !important;
  margin-right: 0px !important;
  padding-right: 0px !important;
}

.tab_item:hover {
  /* Tab Item Size Fix */
  background: var(--scrollbar) !important;
}

.tab_item_cap img {
  /* Image Roundness */
  border-radius: 10px !important;
}

.tab_item.focus .tab_item_name, .tab_item_details {
  /* Text Color */
  color: white !important;

  &:hover {
    color: white !important;
  } 
}

.discount_block .discount_original_price, .discount_block .discount_final_price {
  /* Prices Text Color */
  color: white !important;

  &:hover {
    color: white !important;
  } 
}

#tab_preview_container {
  /* Tab right Container Background */
  background: #121212 !important;
  border-radius: 10px !important;;
}

body.v6 .home_rightcol .tab_preview h2 {
  /* Text Color */
  color: white !important;
}

.tab_preview .tags > a {
  /* Genre Tags */
  background-color: var(--scrollbar) !important;
  border-radius: 10px !important;
}

.tab_review_summary {
  /* Summary background */
  background-color: transparent !important;
}

.tab_preview .screenshot {
  /* Screenshot Images Roundness */
  border-radius: 10px !important;
}

.tab_controls, .tab_see_more {
  /* Tab Items Bottom Bar (See More) */
  background: #121212 !important;
  border-radius: 10px !important;
}

/* Top Steam Releases Banner */
.top_new_releases_banner_click > img{
  /* Top Steam Releases Banner Roundness */
  border-radius: 10px !important;
}

/* Trending Among Friends */
.friends_recently_purchased .friends_container {
  /* Image Background */
  background: #121212 !important;
  border-radius: 10px !important;
}

/* Updated & Offers */
.home_marketing_message, .home_marketing_message:hover {
  /* Image Background */
  background: #121212 !important;
  border-radius: 10px !important;
}

.home_marketing_message > span {
  /* Image Roundness */
  border-radius: 10px !important;
}


/* Under Footer Section */
.home_content a.home_content_item img, .home_content .item img {
  /* Game Image Roundness */
  border-radius: 10px !important;
}

.home_content.single .capsule {
  /* Game Image Roundness */
  border-radius: 10px !important;
}

.home_content.single a.screenshot {
  /* Removes Black Bar */
  background: transparent !important;
}

.home_content.single a.screenshot img {
  /* rounds the other Images */
  border-radius: 10px !important;
}

.home_content.single_buttonbar {
  /* Under Footer Section Footer */
  background: #121212 !important;
  border-radius: 10px !important;
}