@use '../../styles';

*{
  box-shadow: styles.$shadow !important;
}

// -------------------------STORE FEATURED-------------------------

// By Shiina

// --------------- Steam Dark Mode Reworked V1 ---------------
body.v6 {
  // Main page background color
  background: styles.$background !important;
  color: styles.$text !important;
}

body.v6 #footer {
  // Footer
  background: styles.$dark !important;
  margin: 0px 50px 30px 50px !important;
  border-radius: styles.$border4 !important;
}

.home_page_body_ctn {
  // Pushes down the page
  margin-top: 50px !important;
}

a.gutter_item {
  // Changes left side steam links colors
  color: styles.$customcolor !important;
}

.gutter_item .icon {
  // Removes left side steam links icons
  display: none !important;
}

.gutter_header {
  // Gutter text color
  color: styles.$text !important;
}

.home_page_gutter_giftcard {
  // Removes giftcard image
	display: none !important;
}

body:not(.no_home_gutter) .home_page_gutter {
  // Lowers the gutter due to giftcard image removal
  margin-top: 15px !important;
}


body.v6 .store_nav .popup_block_new .popup_body {
  // Menu dropdown header
  background: styles.$onebackground !important;
  margin-top: 10px !important;
  border-radius: styles.$border1 !important;
}

.home_ctn.tab_container, body.v6 .page_content_ctn.dark {
  // Main page dark and gradient parts
  background: styles.$background !important;
}

.fullscreen-bg, .page_background_holder {
  // Store banner image background
  margin: 10px 40px !important;
  border-radius: 10px !important;
  box-shadow: 3px 3px 10px 0px #121212 !important;
}

.fullscreen-bg__video {
  // Store banner video
  display: none !important;
}

.gradient_left, .gradient_right {
  // Store banner gradient
  display: none !important;
}

#store_nav_area, div#store_controls {
  // Header and buttons positioning
  padding-top: 7px !important;
}

div#store_controls {
  // Position cart and wishlist button 
  top: 6px !important;
}

a.store_header_btn_content {
  // Fixes button and text height
  margin-top: 2px !important;
  line-height: 30px !important;
  text-transform: capitalize !important;
}

div.store_header_btn {
  // Theme cart and wishlist button 
  border-radius: styles.$border0 !important;
  position: fixed !important;
  background: styles.$whiteblur !important;
  box-shadow: 0px 0px 0px, rgb(17, 17, 17) 3px 2px 10px !important;
  padding-bottom: 10px !important;
  right: 0 !important;
  top: 0 !important;
  height: 25px !important;
  margin-top: 6px !important;
  margin-right: 100px !important;
  backdrop-filter: styles.$blur2 !important;
}

.store_header_btn_gray a {
  // Centered cart text
  color: pink !important;
}

.store_header_btn_green a {
  // Centered cart text
  margin-right: 12px !important;
}

.store_header_btn_green a:hover, .store_header_btn_gray a:hover {
  // Theme cart and wishlist button hover effect
  border-radius: styles.$border0 !important;
  background: styles.$transparent !important;
  color: white !important;
}

#cart_status_data .store_header_btn_green {
  // Theme cart button
  margin-right: 235px !important;
  width: 110px !important;
  right: 0 !important;
}

#store_nav_area .store_nav_bg, .home_page_body_ctn.has_takeover #store_nav_area .store_nav_bg {
  // Header
  background: styles.$darkblur !important;
  backdrop-filter: styles.$blur2 !important;
  border-bottom-right-radius: styles.$border0 !important;
  position: fixed !important;
  box-shadow: none !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  margin-top: -1px !important;
  padding-bottom: 15px !important;
}

.store_nav {
  // Lowers the text in the header
  margin-top: 8px !important;
  margin-left: 8px !important;
  place-content: center !important;
}

.store_nav .search_flex_spacer {
  // Fixes the size of the Header
  position: fixed !important;
}

.store_nav .tab img.foryou_avatar {
  // Header avatar picture
  border-radius: styles.$border1 !important;
}

.store_nav .tab:hover > span, .store_nav .tab.focus > span {
  // header tab hover
  background: styles.$whiteblur !important;
  border-radius: styles.$border1 !important;
}

.store_nav .tab:hover, .store_nav .tab.focus  {
  // header tab hover
  background: styles.$whiteblur !important;
	border-radius: styles.$border1 !important;
}

.searchbox {
  // Searchbox header
  background: transparent !important;
  border: 0px !important;
  border-radius: 0px solid #121212 !important;
  padding: 0px !important;
}

.searchbox input {
  // Search input box header
  color: styles.$text !important;
  margin-left: 10px !important;
  margin-top: 2px !important;
  border-top: 1px solid transparent !important;
}

.searchbox input:hover {
  // Search input box header
  background: none !important;
  border-top: 1px solid transparent !important;
}

.searchbox input:focus {
  // Search input box header
  color: styles.$text !important;
  background: none !important;
  border-top: 1px solid transparent !important;
  height: 98% !important;
  border-radius: 2px !important;
  margin-top: 1px !important;
}

.searchbox input::placeholder {
  // placeholder text
  color: transparent !important;
  text-shadow: none !important;
}

.searchbox input.default {
  // Search input box header
  color: styles.$text !important;
  width: 100% !important;
}

.search_suggest {
  // Changes the search box layout
  right: auto !important;
  margin-top: 5px !important;
}

.search_suggest .match {
  // Removes search result dividers
  border-top: 0px !important;
}

.search_suggest .match .match_img img {
  // Make search result images rounded
  border-radius: styles.$border0 !important;
}

.store_nav .search_area {
  // Changes the max lenght of the searchbox
  max-width: 34px !important;
  border-radius: styles.$border2 !important;
  background: styles.$whiteblur !important;
  margin-left: 10px !important;
  transition-property: max-width !important;
  transition-duration: 0.5s !important;
  transition-timing-function: linear !important;
}


.store_nav .search_area:hover {
  // Changes the max lenght of the searchbox
  max-width: 160px !important;
  border-radius: styles.$border2 !important;
}

a#store_search_link img {
  // Search button in header
  max-width: 24px !important;
  max-height: 24px !important;
  position: absolute !important;
  top: 3px !important;
  display: flex !important;
  right: -1px !important;
  object-fit: fill !important;
  border-radius: 20px !important;
  background-color: indianred !important;
  box-shadow: 0px 0px 4px 0px #121212 !important;
  filter: revert !important;
    &:hover {
      background: styles.$customcolor !important;
      background-image: none !important;
    }
}

.carousel_container .arrow.left {
  // Left arrow
  left: -55px !important;
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
    &:hover {
      background: styles.$customcolor !important;
    }
}

.carousel_container .arrow.right {
  // Right arrow
  right: -55px !important;
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
  &:hover {
    background: styles.$customcolor !important;
  }
}

.carousel_container .carousel_thumbs > div {
  // Game preview buttons
  background: styles.$dark !important;
  margin: 18px 5px !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: styles.$border1 !important;
    &:hover {
      background: styles.$customcolor !important;
    }
}

.carousel_container .carousel_thumbs > div.focus {
   // Game preview buttons
  background: styles.$customcolor !important;
}

.carousel_container .carousel_items:not(.no_paging) > * {
  // Featured box reworked
  border-radius: styles.$border1 !important;
  background: styles.$background !important; 
}

.home_cluster_ctn {
  // Removes the blue image from spotlight
  background: none !important;
}

.store_main_capsule .capsule, .store_main_capsule .info {
  // Featured info box reworked
  border-radius: styles.$border1 !important;
  background-color: styles.$dark !important; 
}

.carousel_container.maincap .carousel_items {
  // Featured rounded background
  border-radius: styles.$border1 !important;
}

.carousel_container.maincap .capsule .screenshot {
  // Featured mini screenshots border radius
  border-radius: styles.$border1 !important;
}

.store_main_capsule .screenshots > div > div {
  // Featured mini screenshots width
  border-radius: styles.$border1 !important;
  width: 146px !important;
}

.store_main_capsule .screenshots {
  // Featured mini screenshots positioning
  margin-left: 0px !important;
}

.store_main_capsule .screenshots > div {
  // Featured mini screenshots padding
  width: 122px !important;
  padding: 5px 30px 5px 5px !important;
}

.spotlight_content {
  // Spotlight games reworked
  background-image: none !important;
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
}

.home_area_spotlight {
  // Spotlight games background image removal
  background-image: none !important;
}

.spotlight_img {
  // Spotlight games image rounded
  border-radius: styles.$border1 !important;
}

.store_capsule {
  // Spotlight games background dark
  background: styles.$dark !important;
}

.store_capsule .capsule > img {
  // Spotlight games image rounded
  border-radius: styles.$border1 !important;
}

.carousel_container.spotlight .carousel_items > * .store_capsule {
  // Spotlight games background image removal
  background-image: none !important;
  border-radius: styles.$border1 !important;
}

.carousel_container.spotlight .carousel_items > * .store_capsule.daily_deal {
  // Spotlight games background & hover effect
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
    &:hover {
      background: styles.$dark !important;
    }
}

.discount_block_inline.no_discount .discount_prices {
  // Red no discount tags
  padding: 0px 10px !important;
}

.discount_block .discount_pct, .discount_pct {
  // Green discount tags
  border-radius: styles.$border1 !important;
}

.discount_block > .discount_prices, .store_capsule .discount_block.discount_block_large .discount_prices {
  // New game prices
  background-color: styles.$dark !important;
  border-radius: styles.$border0 !important;
  margin-left: 10px !important;
}

.dailydeal_countdown {
  // Countdown time for game deals
  background-color: styles.$customcolor !important;
  border-radius: styles.$border1 !important;
}

.dailydeal_desc {
  // Today's deal text color
  color: styles.$text !important;
}

.content_hub_carousel_ctn .content_hub_capsule_ctn img, .content_hub_capsule_ctn .gradient {
  // content hub carousel images rounded
  border-radius: styles.$border1 !important;
}

.home_hardware_banner img, .home_page_content.takeunder a {
  // Hardware banners, Steam Deck, Valve index
  border-radius: styles.$border1 !important;
}

.carousel_items.store_capsule_container > * > * {
  // Players like you, Carousel boxes rounded.
  border-radius: styles.$border1 !important;
}

.dq_item .dq_item_cap {
  // Discovery Queue images rounded
  border-radius: styles.$border1 !important;
}

.discovery_queue_ctn .begin_exploring {
  // Discovery Queue arrow reworked
  background: styles.$darkblur !important;
  backdrop-filter: styles.$blur2 !important;
  color: styles.$text !important;
  border-radius: styles.$border2 !important;
}

.discovery_queue_ctn .begin_exploring::after {
  // Discovery Queue arrow image removed
  background: styles.$transparent !important;
}

body.v6 .deep_dive_key_tags {
// removed 'because you played' divider
  border-top: 0px !important;
}

.curator_giant_capsule .capsule img, .curator_giant_capsule .screenshots .screenshot {
  // Curator images rounded
  border-radius: styles.$border2 !important;
}


.curator_giant_capsule .curator_block {
  // Curator text
  background-color: styles.$bgblur !important;
  backdrop-filter: styles.$blur2 !important;
  border-radius: styles.$border1 !important;
}

.recently_updated .store_capsule .recently_updated_desc {
// Recently updated
  border-top: 0px !important;
}

.recommended_creators_ctn .recommended_creators_container {
  // Recommendend from developers
  border-top: 0px !important;
  background: styles.$transparent !important;
}

.tab_controls, .tab_see_more {
  // New and trending header
  background: styles.$transparent !important;
}

.tab_item {
  // New and trending tabs
  background: styles.$dark !important;
  border-radius: styles.$border0 !important;
  margin: 5px !important;
}

.tab_item.focus {
  // New and trending tabs focused
  background: styles.$customcolor !important;
  margin-right: 5px !important;
  padding-right: 0px !important;
}

.tab_item_cap_img, .tab_preview .screenshot {
  // New and trending tabs images
  border-radius: styles.$border0 !important;
}

.tab_item.focus .discount_block .discount_final_price {
  // New and trending price color
  color: styles.$text !important;
}

#tab_preview_container {
  // New and trending right panel repositioned
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
  margin-top: 80px !important;
}

.tab_review_summary {
  // Removes tab review background
  background: styles.$transparent !important;
}

body.v6 .home_rightcol .tab_preview h2 {
  // New and trending name title color
  color: styles.$customcolor !important;
}

.friends_recently_purchased .friends_container {
  // Trending amongst friends cards
  background: styles.$transparent !important;
  border-top: 0px !important;
}

.home_marketing_message, .home_marketing_message:hover {
  // Updates and offers background
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
}

.home_marketing_message > span {
  // Updated and offers image rounded
  border-radius: styles.$border1 !important;
}

div.game_hover {
  // Fix the game info hover pane
  z-index: 30 !important;
}







// --------------- Everything below the footer ---------------

.home_content.single, .home_content.single_buttonbar {
  // Recommended section below the footer
  background: styles.$dark !important;
  border-radius: styles.$border1 !important;
}

.home_content a.home_content_item img, .home_content .item img {
  // More games due to recent gametime
  border-radius: styles.$border1 !important;
}

.home_content.single .capsule {
  // Since you played big image correction
  border-radius: styles.$border1 !important;
}

.home_content.single a.screenshot {
  // Since you played image correction
  background: none !important;
  margin: 10px 10px 0px -22px !important;
}

.home_content.single a.screenshot img {
  // Images rounded "since you wish for"
  border-radius: styles.$border1 !important;
}