// _styles.scss

$txtcolor:      #6624e2;
$progressbar:   #6624e2;
$customcolor:   #6624e2;
$bgcolor:       #121212;
$trans:         transparent;
$grey:          #2e2e2f;
$background:    #1e1e1f;
$scrollbar:     #6624e2;
$header:        #3e3e3f;
$border1:       10px;
$text:          #ffffff;