$txtcolor:      orange;
$progressbar:   orange;
$customcolor:   orange;
$bgcolor:       #121212;
$trans:         transparent;
$grey:          #2e2e2f;
$background:    #1e1e1f;
$scrollbar:     orange;
$header:        #3e3e3f;
$border1:       10px;
$text:          #ffffff;