/* ACTIVITY PAGE IMAGES */
/* gamelogo header background */
.gameLogo {
    background: transparent !important;
}

/* gamelogo header image */
.gameLogo img {
    border-radius: 10px !important;
}

/* group announcement content image */
.blotter_group_announcement_content img {
    border-radius: 10px !important;
}

/* game purchase images */
.blotter_gamepurchase_content img {
    border-radius: 10px !important;
}

/* screenshot gallery images */
.blotter_screenshot_gallery_image img, .blotter_screenshot_gallery_image_selected img {
    border-radius: 10px !important;
}

/* group avatar image */
.avatarMedium img {
	border-radius: 10px !important;
}

/* dynamic link image */
img.dynamiclink_preview {
    border-radius: 10px !important;
}