:root {
    /* Main Backgrounds Colors */
    --bgcolor: #121212;
    --trans: transparent;
    --grey: #2e2e2f;
}

/* New Thread background */
.commentthread_entry {
    background: var(--bgcolor) !important;
    border-radius: 10px !important;
}

.blotter_daily_rollup {
    background-color: var(--trans) !important;
}

/* Thread group header background */
.blotter_group_announcement_header_ogg {
    background: var(--trans) !important;
}

/* Thread background */
.blotter_block {
    background: var(--bgcolor) !important;
    border-radius: 10px !important;
}

/* Thread header background */
.blotter_author_block {
    background: var(--trans) !important;
}

/* Thread comment background */
.blotter_comment_thread {
    background: var(--trans) !important;
}

/* Thread comment background roundness */
.blotter_comment_thread .commentthread_entry {
    border-radius: 10px !important;
}

/* Thread group header background */
.blotter_group_announcement_header {
    background: var(--trans) !important;
}

/* Commentbox background */
.dynamiclink_box {
    background: var(--grey) !important;
}

/* Thread group comment background */
.blotter_status_entry .commentthread_entry_quotebox {
    background: var(--grey) !important;
}

/* Thread group comment background */
.blotter_comment_thread .commentthread_entry_quotebox {
    background: var(--grey) !important;
}

/* Thread comment placeholder */
.commentthread_textarea::-webkit-input-placeholder{
	font-style: normal !important;
	font-weight: bold !important;
	color: #ffffff99 !important;
}

/* Right column background */
#friendactivity_right_column .box,
.friends_add_block,
#friendactivity_right_column .box,
.blotter_eventsblock {
    background: var(--bgcolor) !important;
    border-radius: 10px !important;
}

/* New topic background */
.forum_newtopic_header {
    background: var(--trans) !important;
}

/* New topic commentbox background */
.forum_newtopic_box {
    background: var(--trans) !important;
}

/* Forum topics textbox entry background */
input.gray_bevel, textarea.gray_bevel, .gray_bevel, .commentthread_comment_edit_textarea_ctn {
    border-radius: 10px !important;
}

/* Forum topics reply text background */
.forum_paging {
    background: var(--trans) !important;
}

/* Forum topics comments background */
.forumtopic_comments .commentthread_comment {
    margin-left: 10px !important;
    border-radius: 10px !important;
    background-color: #1e1e1f !important;
}